In [10]:
value = input("값을 입력해주세요. : ")

값을 입력해주세요. : 100

In [13]:
a,b,c = 10,20,30

In [14]:
print(a,b,c)

10 20 30

# 1. 정수형

In [24]:
a,b = 2,3

a//b
a%b

2

In [25]:
a+b*a

8

### 연습문제 0.

In [29]:
a,b = 7,3.0

c = a//b
d = a%b
e = a**b
print(c,d)
print(e)

2.0 1.0
343.0

In [30]:
a,b = 7,3.0
type(a), type(b)

(int, float)

In [35]:
mike, judy, sera = 80,75,100
mean = (mike+judy+sera)/3
mean = int(mean)
mean

85

In [42]:
a,b = 1,2
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

In [50]:
print(True and True)
print(True and False)
print(False and True)
print(False and False,"\n")

print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
False
False
False

True
True
True
False

In [54]:
score1 = input("점수1 : ")
score2 = input("점수2 : ")
score3 = input("점수3 : ")
score1=int(score1)
score2=int(score2)
score3=int(score3)

flag1 = (score1>65)
flag2 = (score2>65)
flag3 = (score3>65)

print(flag1 and flag2 and flag3)

점수1 : 10
점수2 : 65
점수3 : 130513051035
False

# None type

In [64]:
quote = "안녕하세요. 김수현입니다."
reversed(quote)
print(quote)

안녕하세요. 김수현입니다.

# F문자열

In [65]:
name = "김수현"
major = "Computer"

In [67]:
intro = "안녕하세요. %s입니다. 전공은 %s입니다."%(name,major)
print(intro)

안녕하세요. 김수현입니다. 전공은 Computer입니다.

In [73]:
intro = "안녕하세요. {}입니다. 전공은 {}입니다.".format(name,major)
print(intro)

안녕하세요. 김수현입니다. 전공은 Computer입니다.

In [83]:
f"PI는 {pi}입니다."

'PI는 3.141592653589793입니다.'

a="90:30:80"이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다.
문자열 인덱싱을 이용해 각 점수를 각각 
math, english, science 변수에 저장하고,
average 란 변수에 평균값을 저장하고 출력하시오.

이 때 출력의 형태는 “평균 점수는 ~~입니다.”로 하시오.

In [87]:
a="90:30:80"
math = int(a[:2])
english = int(a[3:5])
science = int(a[6:])

average = (math+english+science)/3
print("평균 점수는 {}입니다.".format(average))

평균 점수는 66.66666666666667입니다.

In [89]:
quote = "안녕하세요. 김수현이에요."
len(quote)

14

In [92]:
quote.index(".")

5

In [105]:
a = quote.find("요")
print(a)
quote.find("요",quote.find("요")+1)

4

-1

In [110]:
b=['10','20','30','40']
",".join(b)

'10,20,30,40'

In [117]:
a=" 90:30:80 "
a=a.strip()
score_list = a.split(":")

In [129]:
temp = list(map(int,score_list))
temp

[90, 30, 80]

In [124]:
name_list = ["abcd","ABCD","EFGH","efgh"]
";;;;".join(name_list)

'abcd;;;;ABCD;;;;EFGH;;;;efgh'

In [135]:
string = "가나다라ABCD가나다라1234가나다라ABCD가나다라1234"
print(string.find("가나다라"))
print(string.find("ABCD"))
print(string.find("가나다라",string.find("가나다라")+1))

0
4
8

In [136]:
b=[]
type(b)

list

In [140]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [147]:
list1=list(range(3,30,3))
list1

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [149]:
list1[2:7]

[9, 12, 15, 18, 21]

In [151]:
list1[2::3]

[9, 18, 27]

In [154]:
list1[0] = 'aaaa'
list1

['aaaa', 6, 9, 12, 15, 18, 21, 24, 27]

In [156]:
list1[1:4] = ['b','c','d','e']
list1

['aaaa', 'b', 'c', 'd', 'e', 'e', 15, 18, 21, 24, 27]

In [197]:
list1=[1,1,2,2,3,4,5,6]
list1

[1, 1, 2, 2, 3, 4, 5, 6]

In [207]:
profile = {
    'name' : '김수현',
    'major': 'math',
    'address' : '경기',
    'height' : 176
}

In [208]:
profile['major'] = "전자공학"

In [209]:
profile

{'name': '김수현', 'major': '전자공학', 'address': '경기', 'height': 176}

In [211]:
profile['math_score'] = 100

In [213]:
profile.setdefault('eng',100)

100

In [214]:
profile

{'name': '김수현',
 'major': '전자공학',
 'address': '경기',
 'height': 176,
 'math_score': 100,
 'eng': 100}

In [216]:
profile.setdefault('eng',50) 
# 이게 없으면 기본값은 이걸로 해라 있으면 이건 무시

100

In [220]:
profile.get('name')

'김수현'

In [228]:
profile.items()

dict_items([('major', '전자공학'), ('address', '경기'), ('height', 176), ('math_score', 50), ('eng', 100)])

In [230]:
set1 = {1,2,3}
set2 = {3,4,5}
set1, set2

({1, 2, 3}, {3, 4, 5})

In [234]:
set1 | set2

{1, 2, 3, 4, 5}

In [236]:
set1 & set2

{3}

In [238]:
set1.union(set2)

{1, 2, 3, 4, 5}

In [242]:
set1 - set2

{1, 2}

In [243]:
{1}<=set1

True

In [245]:
{2}<=set2

False

In [246]:
temp = ["abcd","efgh","ABCD"]
"".join(temp)

'abcdefghABCD'